@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slide-down 0.2s ease-out;
}

.animate-slide-up {
  animation: slide-up 0.2s ease-out;
}
* {
  font-family: "Inter", sans-serif;
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
section,
span,
button,
input,
label,
textarea,
select,
option,
ul,
li,
ol,
blockquote,
pre,
code,
th,
td,
tr,
table,
img,
svg,
footer {
  font-family: "Inter", sans-serif;
}
.custom-checkbox {
  --nextui-checkbox-color: #ff0404;
}

.content {
  animation: moving 0.5s ease;
}
@keyframes moving {
  from {
    transform: translateX(1vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}
